{% extends 'base.html' %}

{% block title %}
    <title>Local Library Confirm Password Reset</title>
{% endblock %}

{% block pageheading %}
    <h3>Confirm password reset</h3>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password</p>
        <form action="" method="post">
            {% csrf_token %}
            <p class="errortext">{{ form.new_password1.errors }}</p>
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}<br><br>
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}<br><br>
            <input type="submit" value="Change password">
        </form>
    {% else %}
        <p class="errortext">This link is invalid. It has possibly already been used. Please request another password reset.</p>
    {% endif %}
{% endblock %}
