{% extends 'base.html' %}

{% block title %}
    <title>Local Library Home</title>
{% endblock %}

{% block pageheading %}
    <h3>Home</h3>
{% endblock %}

{% block content %}
    <p>Welcome to the local library website, developed by <a href="https://github.com/IAmMoltony">Moltony.</a></p>
    <p>Our library currently has:</p>
    <ul>
        <li>{{ num_books }} book{{ num_books|pluralize }}</li>
        <li>{{ num_instances }} cop{{ num_instances|pluralize:'y,ies' }}</li>
        <li>{{ num_available_instances }} available cop{{ num_available_instances|pluralize:'y,ies' }}</li>
        <li>{{ num_authors }} author{{ num_authors|pluralize }}</li>
    </ul>
{% endblock %}
